/* General */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Barre de Navigation */
#navbarNavDropdown>ul>li :hover{
  background-color: aliceblue;
  border-radius: 10%;
}
#navbarNavDropdown>ul>li>a:hover{
  color:#080000;
}
#navbarNavDropdown>ul>li>a{
  color:#FFF;
}
.navbar-brand{
  color: #FFF !important;
  font-weight: bold;
}